<div class="itemization" data-component="itemization">
    <div class="row no-gutters">
        <div class="col">
            <span>Subtotal</span>
        </div>
        <div class="col">
            <span>$XX.XX</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <span>Tax</span>
        </div>
        <div class="col">
            <span>$X.XX</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <span>Delivery Fee</span>
        </div>
        <div class="col">
            <span>$X.XX</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <span>Tip</span>
        </div>
        <div class="col">
            <span>$X.XX</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <span>Discount</span>
        </div>
        <div class="col">
            <span>$X.XX</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <span>TOTAL</span>
        </div>
        <div class="col">
            <span>$XX.XX</span>
        </div>
    </div>
</div>

