<div data-component="notification" class="notification">
    <p class="notification-content">Good news! This location offers curbside pick-up. Would you like to pick-up your
        order using curbside?</p>

    {% import './forms/_input.generic.macro.html' as input %}
    {{ input.addContent(
    'radio',
    'Yes',
    'yes',
    'curbside',
    '',
    '',
    'custom-control-inline'
    )
    }}
    {% import './forms/_input.generic.macro.html' as input %}
    {{ input.addContent(
    'radio',
    'No',
    'no',
    'curbside',
    '',
    '',
    'custom-control-inline'
    )
    }}
</div>

