<article class="step">
    <h1 class="step-title collapsed" data-toggle="collapse" data-target="#_{{ stepNumber }}">
        <span class="step-number {% if stepNumber === '1' %}completed{% endif %}">
            {{ stepNumber | safe }}
            <span class="check"></span></span>
        {{ stepTitle | safe }}
        <span class="icon icon-zmdi-chevron-right"></span>
    </h1>
    <div class="collapse" id="_{{ stepNumber }}">
        <div class="step-body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</article>

