<div data-component="vehicle-info" class="vehicle-info">
    <span class="form-label">Choose Vehicle Type</span>
    <div class="vehicles">
        {% set isImageInput = true %}
        {% set type = 'radio' %}
        {% for vehicle in vehicles %}
        {% set className = vehicle %}
        {% include './forms/_input.generic.html' %}
        {%- endfor %}
    </div>
    <div class="step-item no-border">
        <div class="row">
            <div class="col-md-6">
                <span class="form-label">Choose Vehicle Color</span>
                <button type="button" class="btn modal-trigger choose-vehicle" data-toggle="modal" data-target="#dateTimePickerModal">
                <span class="inner">
                    <span class="text date-picked font-weight-bold">
                        Select a vehicle color...
                    </span>
                    <span class="icon icon-carat"></span>
                </span>
                </button>
            </div>
            <div class="col-md-6">
                <span class="form-label">Choose Vehicle Make</span>
                <button type="button" class="btn modal-trigger choose-vehicle" data-toggle="modal" data-target="#dateTimePickerModal">
                    <span class="inner">
                        <span class="text date-picked font-weight-bold">
                            Select a vehicle make...
                        </span>
                        <span class="icon icon-carat"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

