<div class="menu-item">
    <a class="icon-carat collapsed toggle-menu-item-details"
       data-toggle="collapse"
       href="#menu-item-details-1"
       role="button"
       aria-expanded="false"
       aria-controls="collapseExample">
        <span class="sr-only">Toggle Item Details</span>
        <div class="row no-gutters">
            <div class="col-4">
             <img class="img-fluid menu-item-img" src="../img/menu-item.jpg" alt="">
            </div>
            <div class="col-1">
                <h2 class="font-weight-bold">1</h2>
            </div>
            <div class="col-6">
                <h2>
                    <span class="font-weight-bold text-uppercase">Victoria's Filet&reg; Mignon* </span> 6 oz. Medium
                </h2>
                <h3 class="price">$33.07</h3>
            </div>
        </div>
    </a>
</div>
<div id="menu-item-details-1" class="menu-item-detail-view collapse" data-component="menu-item-detail-view"
     style="">
    <p><span class="font-weight-bold text-uppercase">Temperature: </span>Medium Rare</p>
    <p><span class="font-weight-bold text-uppercase">First Side: </span>Signature Side
        Salad, Honey Mustard Dressing, No Cheese, No
        Croutons</p>
    <p><span class="font-weight-bold text-uppercase">Second Side: </span>Sauteed
        Mushrooms, No Onions</p>
    <p><span class="font-weight-bold text-uppercase">Add-ons: </span>Baby Back Ribs</p>
</div>
