
<div class="menu-item">
    <div class="row">
        <a class="icon-carat
                                collapsed
                                d-flex
                                justify-content-end"
           data-toggle="collapse"
           href="#menu-item-details-1"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            <span class="sr-only">Toggle Item Details</span>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid w-100" src="../img/menu-item.jpg">
                </div>
                <div class="col-1">
                    <h2 class="font-weight-bold">
                        1
                    </h2>
                </div>
                <div class="col-7">
                    <h2>
                        <span class="font-weight-bold text-uppercase">Victoria's Filet&reg; Mignon* </span> 6 oz. Medium
                    </h2>
                    <h3>$33.07</h3>
                </div>
            </div>
        </a>

    </div>
</div>
<div id="menu-item-details-1" class="menu-item-details collapse show" data-component="menu-item-details"
     style="">
    <p><span class="font-weight-bold text-uppercase">Temperature: </span>Medium Rare</p>
    <p><span class="font-weight-bold text-uppercase">First Side: </span>Signature Side
        Salad, Honey Mustard Dressing, No Cheese, No
        Croutons</p>
    <p><span class="font-weight-bold text-uppercase">Second Side: </span>Sauteed
        Mushrooms, No Onions</p>
    <p><span class="font-weight-bold text-uppercase">Add-ons: </span>Baby Back Ribs</p>
</div>
