<div class="menu-item">
    <div class="row align-items-center clearfix d-block d-md-flex mb-2">
        <div class="col-4 col-md-auto float-left float-md-none">
            <img class="img-fluid w-100" src="../img/menu-item.jpg">
        </div>
        <div class="pl-0 col-11 col-md-5">
            <h2 class="h6"><span class="font-weight-bold text-uppercase">Victoria's Filet&reg; Mignon* </span> 6 oz. Medium</h2>
        </div>
        <div class="offset-md-2 col-auto float-left float-md-none p-0">
            <h3>$47.74</h3>
        </div>
        <div class="col-2 col-md-1 ml-auto mr-2">
            <a class="icon-carat
                                collapsed
                                d-flex
                                justify-content-end"
               data-toggle="collapse"
               href="#menu-item-details-1"
               role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                <span class="sr-only">Toggle Item Details</span>
            </a>
        </div>
    </div>
</div>
