<!-- WELCOME BACK -->
<div class="container-fluid rewards-member-message">
    <h1>Welcome Back, USERNAME!</h1>
    <div class="container">
        <p>Thanks for being a Dine Rewards member!</p>
        <p>You can view your activity anytime at <a href="#">dine-rewards.com</a> or in the Outback app.</p>
        <a href="#" class="btn btn-outline-light">How Dine Rewards Works</a>
    </div>
</div>
<!-- /WELCOME BACK -->


<!-- SIGNUP FORM -->
<div data-component="signup-form" class="container-fluid">
    <div class="container text-center">

        <!-- Mobile Headline -->
        <h1 class="headline d-lg-none">Want 50% off your next visit? Join dine rewards today.</h1>
        <!-- Desktop Headline -->
        <h1 class="headline d-none d-lg-block">Want 50% off your next visit? <br/> Join dine rewards today.</h1>
        <!-- Tagline -->
        <h2 class="tagline">Get more specials, offers and exclusives.</h2>

        <!-- Form -->
        <form class="mt-4">
            <div class="form-row">
                <div class="form-group col-md-9">
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="tel" placeholder="Phone">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

        <p class="footer">In signing up I acknowledge that I am 18 years of age or older, want to receive email offers
            from Outback and agree to the <a href="#">terms and conditions</a> of the program.</p>
    </div>
</div>
    <!-- /SIGNUP FORM -->

    <!-- ACCOUNT CONFIRMATION -->
    <div class="container-fluid rewards-member-message">
        <h1>You're In, USERNAME!</h1>
        <div class="container">
            <p>Thanks for signing up to get offers from Outback and to start earning 50% off, up to $20, every 4th visit
                with Dine Rewards!</p>
            <p>To view your Dine Rewards member account, look for an email from us with a temporary password to login at
                <a
                        href="#">dine-rewards.com</a>.</p>
            <p><a href="#">Visiting Soon</a>? Let your server know you're a Dine Rewards member, give them the phone
                number
                you used for sign up and start earning today.</p>
            <a href="#" class="btn btn-outline-light">How Dine Rewards Works</a>
        </div>
    </div>
    <!-- /ACCOUNT CONFIRMATION -->




