/*================================================================*
| TYPOGRAPHY                                                      |
|-----------------------------------------------------------------|
| Font, line-height, and color for body text, headings, and more. |
*================================================================*/

$font-family-monospace:       monospace !default;
$font-family-sans-serif:      $font-primary !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              1rem !default; // 16px
$font-size-ex-lg:             ($font-size-base * 1.5) !default;
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-md:                ($font-size-base * 1.125) !default; // 18px
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ex-sm:             ($font-size-base * .75) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            400 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

// Heading Types

$h1-font-size:                $font-size-base * 1.875 !default; // 30px
$h2-font-size:                $font-size-base * 1.25  !default; // 20px
$h3-font-size:                $font-size-base * 1.625 !default; // 26px
$h4-font-size:                $font-size-base * 1.5   !default; // 24px
$h5-font-size:                $font-size-base * 1.25  !default; // 20px
$h6-font-size:                $font-size-base         !default; // 16px

$headings-margin-bottom:      ($spacer / 4) !default;
$headings-font-family:        $font-secondary !default;
$headings-font-weight:        400 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

// Display Types

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

// Lead Text

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

// Small Font

$small-font-size:             80% !default;

// Muted Font

$text-muted:                  #828181 !default;


// Blockquotes

$blockquote-small-color:      $gray-600 !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;

// Horizontal Rule

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;
$hr-margin-y:                 $spacer !default;

// Highlighted Text
$mark-bg:                     #fcf8e3 !default;
$mark-padding:                .2em !default;

// Misc.
$dt-font-weight:              $font-weight-bold !default;
$list-inline-padding:         .5rem !default;
$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
$nested-kbd-font-weight:      $font-weight-bold !default;
