/*==========================*
| Bootstrap Modal Overrides |
*==========================*/

.modal {
  color: $body-color;

  &-header {
    border-bottom: 1px solid $body-color;
  }

  &-title {
    @extend .text-uppercase;
  }

  &-body {
    @include rem(20px);

    li {
      font-family: $font-primary;
      margin-bottom: 0;
    }
  }

  p {
    line-height: $display-line-height;
  }

  .modal-title {
    @include rem(24px);
    @include media-breakpoint-up(md) {
      @include rem(30px);
    }
  }

  .close {
    @extend .m-0;
    position: absolute;
    @extend .p-1;
    top: .25rem;
    @include media-breakpoint-up(md) {
      top: .5rem;
    }
    right: 1rem;
  }
}





