/*==========================*
| Bootstrap Modal Overrides |
*==========================*/

.modal {
  color: $body-color;

  &-header {
    border-bottom: 1px solid $body-color;
  }

  &-title {
    @extend .text-uppercase;
  }

  &-body {
    @include rem(20px);

    li {
      font-family: $font-primary;
      margin-bottom: 0;
    }
  }

  p {
    line-height: $display-line-height;
  }

  .modal-title {
    @include rem(24px);
    @include media-breakpoint-up(md) {
      @include rem(30px);
    }
  }

  .close {
    @extend .m-0;
    position: absolute;
    @extend .p-1;
    top: .25rem;
    @include media-breakpoint-up(md) {
      top: .5rem;
    }
    right: 1rem;
  }
}

// Account Modal Styles
// TODO: Refactor this for global brand modal styles
#createAccount,
#resetToken,
#resetPassword,
#forgotPassword,
#signIn {
  .modal-content {
    background: $white;
    color: $brand-fg-dark;
  }

  a {
    color: $brand-primary;
  }

  @include media-breakpoint-up(lg) {
    .col-left {
      padding-right: 1rem;
    }
    .col-right {
      padding-left: 1rem;
      border-left: 1px solid $brand-fg-dark;

      .btn {
        position: absolute;
        width: 50%;
        bottom: 0;
      }
    }
  }
}
