[data-component="date-time-picker"] {
  height: 90vh;
  .icon-arrow-right,
  .icon-arrow-left {
    position: relative;
    bottom: 1px;
  }
  .input-group-text {
    background-color: transparent;
    border: none;
  }
  .icon-calendar:before {
    font-size: 1.325rem;
    color: $brand-fg-dark;
  }
  .input-group-append {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    pointer-events: none;
    z-index: $zindex-fixed;
  }
  .picker-switch {
    font-family: $font-secondary;
    font-weight: 400;
  }
  .date-picked {
    color: #111;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    @include rem(18px);
    @include media-breakpoint-up(lg) {
      cursor: default;
    }
  }
  .form-group {
    width: 317px;
    @include media-breakpoint-up(lg){
      margin-bottom: $spacer * 7;
    }
  }
  .choose-time {

    ul {
      max-height: 55vh;
      overflow-y: scroll;
      list-style-type: none;
      padding-bottom: 6vh;
      padding-left: $spacer * 2;
      /* padding-bottom: 6vh; */
      @include media-breakpoint-up(lg){
        position: absolute;
        bottom: 40px;
        left: 5px;
        max-height: none;
        padding-bottom: $spacer;
        padding-right: $spacer * 4;
        top: 30px;

      }

    }
    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;
      @extend .my-0;
      &.active {
        @extend .icon-check;
        &:before {
          color: $brand-primary;
          margin-left: -1.25rem;
          margin-right: .35rem;
        }
      }
    }
  }
  &.datepicker-open {
    .choose-time {
      @include media-breakpoint-down(sm) {
        ul {
          max-height: 10vh;
        }
      }
    }
  }
}

.bootstrap-datetimepicker-widget {
  background-color: $white;
  .active {
    background-color: $brand-primary;
  }
}

