/*==============================================*
| Ordered, Unordered and Definition List Styles |
*==============================================*/

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

dl, dd {
  margin: 0;
  padding: 0;
}
