[data-template="checkout"] {

  background: $body-bg-checkout;

  .your-order {
    background: #fff;
    max-width: 346px;
  }

  .step {
    background: #fff;
    margin-bottom: $spacer * 1.75;
    padding: $spacer * 1.5;
    .custom-radio.custom-control-inline {
      background: #fff;
      width: 118px;
      padding: .25rem 0 .25rem 2rem;
    }
    .date-picked {
      font-family: $font-secondary;
    }

    &.inactive {
      .step-number {
        background: #5ABB62i;

      }
    }
  }

  .step-item {
    padding: 42px 0 30px;
    border-top: 1px solid $brand-gray
  }

  .step-item-component {
    margin-bottom: 2.25rem;
  }

  .step-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    @include padding(5px);
    @include rem(20px);
    text-transform: uppercase;

    .icon {
      margin-left: auto;
      transform: rotate(92deg);

      &:before {
        font-size: 3rem;
      }
    }

    &.collapsed {
      .icon {
        transform: rotate(-90deg);
      }
    }

    .step-number {
      align-items: center;
      background-color: $brand-red;
      border-radius: 50%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      position: relative;
      @include height(36px);
      @include width(36px);
      @include rem(22px);

      &.completed {
        background-color: $brand-green;
        text-indent: -9999em;
        .check {
          align-items: center;
          display: flex;
          @include rem(27px);
          justify-content: center;
          position: absolute;
          text-indent: 0;
          @extend .icon-check;
        }
      }
    }
  }

  .step-body {
    @include padding(24px 0px 0px);
  }

  .credit-card-iframe {
    border: none;
    height: 285px;
    width: 100%;

  }
}

