[data-template="503"] {
  top: 8.5rem;
  position: relative;

  h1 {
    font-size: 4.5rem;
    font-family: arial;
  }

  h3 {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-family: arial;
    font-size: 1.125rem;
    line-height: 1.6rem;
    margin-bottom: 0rem;
  }

  .five-zero-three-error-content {
    .icon-logo {
      font-size: 9.5rem;
      color: black;
    }
  }
}
