[data-template="checkout"] {
  .apply-discount.btn {
    margin-top: $spacer * .5;
  }

  background: $body-bg-checkout;

  .checkout-wrap {
    min-height: calc(100vh - 145px - 134px);
  }

  .was-validated .custom-control-input:valid ~ .custom-control-label::before,
  .custom-control-input.is-valid ~ .custom-control-label::before {
    color: $body-color;
  }

  .page-content {
    margin-top: 1.75rem;
    @include media-breakpoint-up(lg) {
      margin-top: 95px;
    }
  }

  .input-group-append {
    margin-left: 0;

    button {
      border: none;
    }
  }

  .navbar {
    height: 100px;
    @include media-breakpoint-up(lg) {
      height: 134px;
    }
  }

  .your-order {
    background: #fff;
    max-width: 346px;
  }

  .step {
    background: #fff;
    margin-bottom: $spacer * 1.75;
    padding: $spacer * .75;
    @include media-breakpoint-up(lg){
      padding: $spacer * 1.5;
    }

    .custom-radio.custom-control-inline {
      background: #fff;
      width: 118px;
      padding: .25rem 0 .25rem 2rem;
    }

    .step-item-title {
      margin-bottom: .5rem;
    }

    .date-picked {
      font-family: $font-secondary;
    }

    &.inactive {
      .step-number {
        background: #5ABB62i;
      }
    }

    &.completed {
      .step-number {
        background-color: $brand-green;
        text-indent: -9999em;
      }

      .step-title-text {
        color: #9b9b9b;
      }

      .check {
        align-items: center;
        display: flex;
        @include rem(27px);
        justify-content: center;
        position: absolute;
        text-indent: 0;
        @extend .icon-check;
      }
    }
  }

  .step-item {
    padding: 42px 0 30px;
    border-top: 1px solid $brand-gray;

    &.no-border {
      border-top: none;
    }
  }

  .step-item-component {
    margin-bottom: 2.25rem;
  }

  .step-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    @include padding(5px);
    @include rem(20px);
    text-transform: uppercase;

    .icon {
      margin-left: auto;
      transform: rotate(92deg);

      &:before {
        font-size: 3rem;
      }
    }

    &.collapsed {
      .icon {
        transform: rotate(-90deg);
      }
    }

    .step-number {
      align-items: center;
      background-color: $brand-red;
      border-radius: 50%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1rem;
      position: relative;
      @include height(36px);
      @include width(36px);
      @include rem(22px);
    }
  }

  .step-body {
    @include padding(24px 0px 0px);
  }

  .credit-card-iframe {
    border: none;
    height: 285px;
    width: 100%;

  }
}

