[data-template="checkout"] {

  background: $body-bg-checkout;

  .your-order {
    background: #fff;
    max-width: 346px;
  }

  .step {
    background: #fff;
    margin-bottom: $spacer * 2;
    padding: $spacer * 1.5;
    &.inactive {
      .step-number {
        background: #5ABB62i;

      }
    }
  }

  .step-item {
    padding: 42px 0 0;
    border-top: 1px solid $brand-gray
  }
  .step-item-component {
    margin-bottom: 2.25rem;
  }
  .step-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    @include padding(5px);
    @include rem(20px);
    text-transform: uppercase;

    .icon {
      margin-left: auto;
      transform: rotate(92deg);

      &:before {
        font-size: 3rem;
      }
    }

    &.collapsed {
      .icon {
        transform: rotate(-90deg);
      }
    }

    .step-number {
      align-items: center;
      background-color: $brand-red;
      border-radius: 50%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: .9375rem;
      @include height(36px);
      @include width(36px);
      @include rem(22px);
    }
  }
  .step-body {

    @include padding(20px 0 0);
  }


  .credit-card-iframe {
    border: none;
    height: 285px;
    width: 100%;

  }
}

