/*========================*
| Global Layout Styles    |
*========================*/

@include media-breakpoint-down(sm) {
  .container-fluid > .container {
    padding: 0;
  }
}

/*===========================================================*
| Allows Setting page background color on the page wrapper   |
*===========================================================*/
html,
body,
body > .wrapper {
  height: 100%;
}
.wrapper {
  overflow-x: hidden;
}
