[data-component="vehicle-info"] {
  .vehicles {
    display: flex;
    margin-top: $spacer * .5;
    .custom-control {
      padding-left: 0;
    }
    .custom-control-label {
      bottom: 0;
      cursor: pointer;
      display: block !important;
      width: 100%;
      position: absolute;
      left: 0;
      margin-bottom: 0;
      right: 0;
      top: 0;
      &:before {
        margin: 1rem auto;
        position: static;
      }
    }
    .vehicle {
      align-items: center;
      border: $border-1;
      display: flex;
      @include rem(20px);
      font-family: $font-secondary;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      margin-right: $spacer * .3;
      padding-top: $spacer * 2.63;
      max-width: 130px;
      span[class^="icon"] {
        @include rem(28px)
      }
    }
  }
}
