.customer-order-list {
  margin-top: $spacer * 2;
  @include media-breakpoint-up(lg) {
    margin-top: 95px;
  }
  background: #fff;
  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 1.25;
  }

  .menu-items-content {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }

  .customer-order-list-heading {
    @include media-breakpoint-up(lg) {
      margin-bottom: 1.25rem;
    }
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      text-align: center;
    }
    @include rem(20px);
  }
}
