[data-component="vehicle-info"] {
  .vehicles {
    display: flex;
    .custom-control {
      padding-left: 0;
    }
    .custom-control-label {
      align-items: center;
      display: flex;
      flex-direction: column;
      &:before {
        align-self: center;
        position: static;
      }
    }
    .vehicle {
      border: $border-1;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: center;
      margin-right: $spacer * .3;
      width: 8.125rem;
      span[class^="icon"] {
        @include rem(28px)
      }
    }
  }
}
