.date-time-picker {
  .collapse + .picker-switch.accordion-toggle {
    @extend .d-none;
  }

  height: 90vh;


    .modal-content {
      padding-bottom: 80px;
    }


  .modal-body {
    @include media-breakpoint-up(lg) {
      margin: 0 auto;
      width: 500px;
      min-height: 600px;
    }
  }

  .input-group-text {
    align-items: flex-start;
  }

  .bootstrap-datetimepicker-widget {
    position: static;
  }

  .dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
  }

  .icon-arrow-right,
  .icon-arrow-left {
    position: relative;
    bottom: 1px;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
  }

  .icon-calendar:before {
    font-size: 1.325rem;
    color: $brand-fg-dark;
  }

  .input-group-append {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    pointer-events: none;
    z-index: $zindex-fixed;
  }

  .picker-switch {
    font-family: $font-secondary;
    font-weight: 400;
  }

  .date-picked {
    color: #111;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    @include rem(18px);
    @include media-breakpoint-up(lg) {
      cursor: default;
    }
  }

  .choose-time {

    ul {
      max-height: 55vh;
      overflow-y: scroll;
      list-style-type: none;
      padding-bottom: 6vh;
      padding-left: $spacer * 2;
      /* padding-bottom: 6vh; */
      @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 40px;
        left: 5px;
        max-height: none;
        padding-bottom: $spacer;
        padding-right: $spacer * 4;
        top: 30px;
      }
    }

    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;
      @extend .my-0;

      &.active {
        @extend .icon-check;

        &:before {
          color: $brand-primary;
          margin-left: -1.25rem;
          margin-right: .35rem;
        }
      }
    }
  }

  &.datepicker-open {
    .choose-time {
      @include media-breakpoint-down(sm) {
        ul {
          max-height: 10vh;
        }
      }
    }
  }

  .choose-time .times {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
    color: #444;
  }

  .grid-item {
    border-radius: 2px;
    border: 1px solid gray;
  }

  .custom-control {
    cursor: pointer;
  }
}

.bootstrap-datetimepicker-widget {
  background-color: $white;

  .active {
    background-color: $brand-primary;
  }
}

.choose-time {
  .dropdown {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu {
    position: static !important;
    transform: none !important;
  }

  .times {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 0;
    color: #444;
  }

  .show-times {
    .icon-carat {
      margin-left: auto;
    }
  }

  .show-times-btn {
    border: $border-1;
    display: flex;
    justify-content: center;
    width: 100%;
    @include rem(20px);

    .icon-zmdi-chevron-right {
      margin-left: auto;

      &:before {
        @include rem(24px);
      }
    }
  }
}

.grid-item {
  border-radius: 2px;
  border: 1px solid gray;
}
