.date-time-picker {
  .collapse + .picker-switch.accordion-toggle {
    @extend .d-none;
  }

  height: 90vh;

  .modal-content {
    padding-bottom: 80px;
  }

  .modal-body {
    @include media-breakpoint-up(lg) {
      margin: 0 auto;
      width: 500px;
      min-height: 600px;
    }
  }

  .input-group-text {
    align-items: flex-start;
  }

  .icon-arrow-right,
  .icon-arrow-left {
    position: relative;
    bottom: 1px;
  }

  .input-group-text {
    background-color: transparent;
    border: none;
  }

  .icon-calendar:before {
    font-size: 1.325rem;
    color: $brand-fg-dark;
  }

  .input-group-append {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    pointer-events: none;
    z-index: $zindex-fixed;
  }

  .picker-switch {
    font-family: $font-secondary;
    font-weight: 400;
  }

  .date-picked {
    color: #111;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    @include rem(18px);
    @include media-breakpoint-up(lg) {
      cursor: default;
    }
  }

  &.datepicker-open {
    .choose-time {
      @include media-breakpoint-down(sm) {
        ul {
          max-height: 10vh;
        }
      }
    }
  }

  .custom-control {
    cursor: pointer;
  }
}

.choose-time {

  .times {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
      width: 50%;
    }
  }
  &.collapsed .times {
    display: none;
  }

  .show-times {
    .icon-carat {
      margin-left: auto;
    }
  }

  .show-times-btn {
    border: $border-1;
    display: flex;
    justify-content: center;
    width: 100%;
    @include rem(20px);

    .icon-zmdi-chevron-right {
      margin-left: auto;

      &:before {
        @include rem(24px);
      }
    }
  }
}


