.menu-items {
  border: $border-1;
  @include rem(18px);

  @include media-breakpoint-up(lg){}
  margin: $spacer * .625;
  padding: $spacer;

  .toggle-menu-item-details {
    display: flex;
    flex-direction: column;
    &:before {
      align-self: flex-end;
      @include rem(13px);
      position: absolute;
      top: 2rem;
    }
  }
  p {
    margin: 0;
  }
  .price {
    font-family: $font-primary;
  }
  .col-price.order-row-header {
    display: none;
  }
  .menu-item {
    position:relative;
    a {
      color: inherit;
    }
    * {
     font-size: inherit;
    }
  }
  .col.col-price {
    @extend .offset-2;
  }
  [data-template="order-confirmation"]  & {
    .col-price.order-row-header {
      display: block;
    }
    .col.col-price {
     margin-left: 0;
    }
  }
}
