.grid-input.custom-control-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: .5rem .5rem;
  @include rem(16px);
}

.tip-amounts {
  color: #444;
  [class^="col"] {
    &:nth-child(even) {
      padding-left: $spacer * .35;
    }
    padding-bottom: $spacer * .35;
  }
}

.grid-item.custom-control {
  border-radius: 2px;
  border: 1px solid gray;
  padding-left: 0;

  .custom-control-label:before {
    position: static;
    margin-right: $spacer * .5;
  }
}
