{% set stepNumber = '1' %}
{% set stepTitle = 'Contact Information' %}

{% extends 'components/_step.html' %}

{% block content %}
<div class="step-item">
    <div data-component="contact-information" class="contact-information">
        <div class="row">
            <div class="col-sm">
                {% import './components/forms/input.text.html' as input %}
                {{ input.addContent(
                'first-name',
                'First Name',
                'Jordan',
                'text',
                ''
                )
                }}
            </div>
            <div class="col-sm">
                {% import './components/forms/input.text.html' as input %}
                {{ input.addContent(
                'last-name',
                'Last Name',
                'Smith',
                'text',
                ''
                )
                }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {% import './components/forms/input.text.html' as input %}
                {{ input.addContent(
                'email-address',
                'Email',
                'jordansmith@gmail.com',
                'email-address',
                ''
                )
                }}
            </div>
            <div class="col-sm">
                {% import './components/forms/input.text.html' as input %}
                {{ input.addContent(
                'phone-number',
                'Phone Number',
                '(555) 555-5555',
                'phone',
                ''
                )
                }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% import './components/forms/input.checkbox.html' as input %}
                {{ input.addContent(
                'Create an Outback online ordering account for future orders',
                ' create-account',
                'create-account'
                )
                }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% import './components/forms/input.checkbox.html' as input %}
                {{ input.addContent(
                'Sign me up for the Dine Rewards loyalty program <a target="_blank" href="#">terms and conditions</a>',
                ' dine-rewards-signup',
                'dine-rewards-signup'
                )
                }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% import './components/forms/input.checkbox.html' as input %}
                {{ input.addContent(
                'Sign me up to receive Outback exclusive email offers and promotions',
                ' email-signup-offers',
                'email-signup-offers'
                )
                }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% import './components/forms/input.checkbox.html' as input %}
                {{ input.addContent(
                'Thank you for being a member of the Dine Rewards loyalty program <a target="_blank" href="#">terms and
                conditions</a>',
                ' dine-rewards-thank-you',
                'dine-rewards-thank-you'
                )
                }}
            </div>
        </div>
        <p class="legal d-lg-none small mt-2"><strong>Legal Copy</strong> Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Consequuntur delectus doloremque facere harum, laudantium neque non numquam qui
            reprehenderit sequi. Dolorem nobis non quaerat quasi suscipit. Eaque odit perferendis suscipit.</p>
    </div>
</div>
<div class="button-group">
    {% import './components/forms/input.button.html' as btn %}
    {{ btn.addContent(
    'Next',
    '',
    'btn-primary btn-lg disabled',
    '',
    'submit'
    )
    }}
</div>
{% endblock %}
