{% set stepNumber = '2' %}
{% set stepTitle = 'Fulfillment Information' %}
{% extends 'components/_step.html' %}


{% block content %}
<div class="step-item">
    {% set stepItemTitle = 'When' %}
    {% include 'components/_step-item-title.html' %}
    <div>time pick</div>
    {% import 'components/modals/_modal-trigger.macro.html' as modalBtn %}
    {{ modalBtn.addContent(
    'Pay Online',
    'date-time-picker'
    )}}
    {% include 'components/modals/_date-time-picker.html' %}
</div>
<div class="step-item">
    {% set stepItemTitle = 'Pickup Address' %}
    <div class="row">
        <div class="col-lg-6">
            {% include 'components/_step-item-title.html' %}
            <div data-component="pickup-location" class="pickup-location step-item-component">
                <p class="font-weight-bold">South Tampa</p>
                <p>3403 Henderson Blvd. Tampa, FL 33609</p>
            </div>
        </div>
    </div>

    {% include 'components/_notification.html' %}
</div>
<div class="step-item">
    <div data-component="vehicle-info" class="step-item-component">
        {% set stepItemTitle = 'Vehicle Information' %}
        {% include 'components/_step-item-title.html' %}
        <p>This information is used to identify your car when you pickup your order.</p>
        {% set name = 'vehicle_type' %}
        {% include 'components/_vehicle-information.html' %}
    </div>
</div>
<div class="page-buttons">
    {% import './components/forms/input.button.html' as nextBtn %}
    {{ nextBtn.addContent(
    'Next',
    '',
    'btn-primary btn-lg'
    )
    }}
</div>
{% endblock %}

