{% set stepNumber = '3' %}
{% set stepTitle = 'Payment Information' %}
{% extends 'components/_step.html' %}


{% block content %}

<div class="step-item">
    {% set stepItemTitle = 'Payment Method' %}
    {% include 'components/_step-item-title.html' %}

    {% import 'components/modals/_modal-trigger.macro.html' as modalBtn %}
    {{ modalBtn.addContent(
    'Pay Online',
    'payment-method'
    )}}

    {% import 'components/modals/_modal.macro.html' as modal %}
    {{ modal.addContent(
    'Select payment method',
    'payment-method',
    'desktop',
    'mobile',
    ''
    )}}
</div>
<div class="step-item">
    <div data-component="apply-discount">
        {% set stepItemTitle = 'Apply Promo Code' %}
        {% include 'components/_step-item-title.html' %}
        {% import 'components/forms/_input-group-append.macro.html' as promoCode %}
        {{ promoCode.addContent(
        'text',
        '',
        '0545-8945',
        'apply',
        ''
        )}}
    </div>
</div>
<div class="step-item">
    <div data-component="tip-selector">
        {% set stepItemTitle = 'Tip' %}
        {% include 'components/_step-item-title.html' %}

        {% set isGridInput = true %}
        <div class="tip-amounts">
            {% for tip in tips %}
            {% include 'components/forms/_input.generic.html' %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="step-item">
    <div class="iframe-container">
        <iframe id="credit-card-iframe" class="credit-card-iframe" src="iframe.html"></iframe>
    </div>
</div>
<div class="page-buttons">
    {% import './components/forms/input.button.html' as orderBtn %}
    {{ orderBtn.addContent(
    'Place Order',
    '',
    'btn-primary btn-lg'
    )
    }}
    {% import './components/forms/input.button.html' as cancelOrderBtn %}
    {{ cancelOrderBtn.addContent(
    'Cancel Order',
    '',
    'btn-link'
    )
    }}
</div>

{% endblock %}
