{% set dataTemplate = "brand-offers" %}
{% extends '_layout.html' %}

{% block content %}

{% import 'components/full-width-hero.html' as fullWidthHero %}
{{ fullWidthHero.addContent(
'../img/brand-offers/hero-background.jpg',
'../img/brand-offers/hero-bottom-border.png'
)}}

<section class="offers">
    {% import 'components/offer-items-title.html' as offerItemsTitle %}
    {{ offerItemsTitle.addContent(
    'Fair Digital Dinkum!',
    'Online Offers'
    )
    }}
    <div class="container">
        <div class="row">
            {% for offer in onlineOffers %}
            <div class="col-lg-4">
                {% include "components/offer-item-2.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="offers">
    {% import 'components/offer-items-title.html' as offerItemsTitle %}
    {{ offerItemsTitle.addContent(
    'G\'Deals!',
    'In-Store Offers'
    )
    }}
    <div class="container">
        <div class="row">

            {% for offer in inStoreOffers %}
            <div class="col-lg-6">
                {% include "components/offer-item-2.html" %}
            </div>
            {% if (loop.index) === 2 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="offers">
    {% import 'components/offer-items-title.html' as offerItemsTitle %}
    {{ offerItemsTitle.addContent(
    'More Good On Yah!',
    'Outback Extras'
    )
    }}
    <div class="container">
        <div class="row">
            {% for offer in outbackExtras %}
            <div class="col-lg-4">
                {% include "components/offer-item-2.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% include "components/sign-up-form.html" %}

{% endblock %}
