{% set dataTemplate = "checkout" %}
{% extends '_layout.html' %}
{% block content %}
<section class="customer-order-list d-lg-none" data-component="customer-order-list">
    <h1 class="customer-order-list-heading collapsed" data-toggle="collapse"
        data-target="#menu-items-content-mobile">Your
        Order<span class="icon icon-zmdi-chevron-right"></span></h1>
    <div class="menu-items-content collapse" id="menu-items-content-mobile">
        <div class="menu-items">
            {% include "components/menu-item-details.html" %}
        </div>
        {% include "components/_itemization.html" %}
    </div>
</section>
<div class="container checkout-wrap">
    <div class="row">
        <div class="col-lg-4 order-lg-last d-none d-lg-block">
            <section class="customer-order-list" data-component="customer-order-list">
                <h1 class="customer-order-list-heading">Your Order</h1>
                <div class="menu-items-content">
                    <div class="menu-items">
                        {% include "components/menu-item-details.html" %}
                    </div>
                    {% include "components/_itemization.html" %}
                </div>
            </section>
        </div>

        <div class="col-lg-8">
            <div class="page-content">
                <form class="needs-validation" novalidate>
                    {% include "01-contact.html" %}
                </form>
                <form novalidate>
                    {% include "02-fulfillment.html" %}
                </form>
                <form novalidate>
                    {% include "03-payment.html" %}
                </form>
            </div>
        </div>
    </div>
</div>
<!--THIS SCRIPT FOR PROTOTYPE ONLY-->
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    "use strict";
    window.addEventListener("load", function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName("needs-validation");
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener("submit", function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        }, false);
      });
    }, false);
  })();
</script>
<!--/THIS SCRIPT FOR PROTOTYPE ONLY-->


{% endblock %}
