{% set dataTemplate = "checkout" %}
{% extends '_layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 order-lg-last">
            <section class="customer-order-list" data-component="customer-order-list">
                <h1>Your Order</h1>
                <div class="menu-items">
                    {% include "components/menu-item-details.html" %}
                </div>
                {% include "components/_itemization.html" %}
            </section>
        </div>

        <div class="col-lg-8">
            <form>
                {% include "01-contact.html" %}
                {% include "02-fulfillment.html" %}
                {% include "03-payment.html" %}
            </form>
        </div>
        <div class="order-steps">
        </div>
    </div>
</div>


{% endblock %}
