<div class="custom-control custom-{{type}} {{ className | lower }} vehicle">
    {% if isImageInput === true %}
    <label class="custom-control-label" for="singleOption-{{ loop.index }}" >
        <input type="{{ type }}" class="custom-control-input" value="{{ loop.index }}" id="singleOption-{{ loop.index }}" name="{{ name }}">
        <span class="icon-{{vehicle | lower}}">{{loop.index}}</span>
        <span>{{vehicle}}</span>
    </label>
    {% else %}
        {% if type === 'text' %}
        <label class="custom-control-label" for="{{ id }}">{{ text }}</label>
        {% endif %}
        <input type="{{ type }}" class="custom-control-input" id="{{ id }}" name="{{ name }}">
        {% if type !== 'text' %}
        <label class="custom-control-label x" for="{{ id }}">{{ text }}</label>
        {% endif %}
    {% endif %}
</div>
