<div class="custom-control custom-{{type}} {{ className | lower }} {% if isGridInput === true %}grid-item{% endif %}">
    {% if isImageInput === true %}
    <input type="{{ type }}" class="custom-control-input" value="{{ loop.index }}" id="singleOption-{{ loop.index }}"
           name="{{ name }}">
    <label class="custom-control-label" for="singleOption-{{ loop.index }}"></label>
    <span class="icon-{{vehicle | lower}}">{{loop.index}}</span>
    <span>{{vehicle}}</span>
    {% elif isGridInput === true %}
    <input {% if hasTime == true %}data-time="{{ data }}"{% endif %} type="{{ type }}" class="custom-control-input" name="{{ name }}" id="{{ id }}">
    <label class="custom-control-label {% if isGridInput === true %}grid-input{% endif %}" for="{{ id }}">
        <span class="{{ text1Class }}">{{ text1 }}</span>
        {% if text2 %} <span>{{ text2 }}</span>{% endif %}
    </label>
    {% else %}
    {% if type === 'text' %}
    <label class="custom-control-label" for="{{ id }}">{{ text }}</label>
    {% endif %}
    {% if isDisabled === 'true' %}
    <input type="{{ type }}" class="custom-control-input" id="{{ id }}" name="{{ name }}" disabled/>
    {% else %}
    <input type="{{ type }}" class="custom-control-input grid-input" id="{{ id }}" name="{{ name }}"/>
    {% endif %}
    {% if type !== 'text' %}
    <label class="custom-control-label" for="{{ id }}">{{ text }}</label>
    {% endif %}
    {% endif %}
</div>
